
.card {
display: flex;
justify-content: center;
align-content: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: unset;color: grey;
    transition: all 1sec;
    position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%,-50%);
}
header:hover{
    bottom:unset;color:rgba(169, 169, 169, 0.479);
}
.container{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}